#screen {
    border: 1.5px solid;
    border-radius: 12px;
    display: flex;
    align-items: center;
    margin: 10px;
    height: 120px;
    background-color: white;
    flex-direction: row-reverse;
}

#outermost {
    border: 3px solid;
    border-radius: 12px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 550px;
    background-image: linear-gradient(to bottom, rgb(60, 117, 223), rgb(35, 68, 135));
}

#digits {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 55px;
    font-family: Arial, Verdana, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, sans-serif;
}

.keys {
    height: 75px;
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

button {
    border-radius: 12px;
    flex: auto;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, Verdana, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, sans-serif;
}

#first_row .one_size {
    min-width: 75px;
    max-width: 75px;
}

.one_size {
    max-width: 75px;
}